{{> head}} 
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Oso</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident reprehenderit itaque ipsam aut temporibus suscipit nihil repellendus repellat eos accusamus earum nulla iste ut, soluta voluptates quia, quam adipisci tenetur.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/oso.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer}}